*{
    margin: 0;
    padding: 0;
}
#contenidoCabecera {
    width: 100%;
    display: flex;
    background-color: #67999A;
} 
#CabeceraImagenNombre{
  flex: 30%;
}
#CabeceraMenu{
  flex: 70;
}
#ImagenRedondo{
  background-image: url(../img/Recurso\ 8.png);
  background-size: contain;
  background-repeat: no-repeat;

   width: 150px;
   height: 150px;
   background-color: white;
   border-radius: 75px;
   position: relative;
   z-index: 1000;
   margin-bottom: 4px;
   left: 5%;

   
}
#nombreRectangulo{
  background-color:#013334;
  width: 307px;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 10%;
  top: 15%;

}
#contenidoCuerpo{
  width: 100%;
  height: 500px;
  border: 1px solid black;
  background-color: #d3ee9f;
  display: flex;
}
footer{
 width: 100;
 min-height: 200px;
border: 1px solid black;
}
ul li{
  display: inline; padding: 10px;
}
ul li{
   display: inline;
   padding: 0 10px;
   border-right: solid 2px black;
}
ul li{
  color: #550101;
  text-decoration: none;
  font-weight: bold;
}
  ul li a:hover{
    color: coral;
    font-size: 13px;
    text-decoration: underline dashed 2px #550101;
    background-color: #d6f2a4;
  }
  #logoInicio{
     background-image: url("/img/Recurso\ 7.png");
     padding: 2px 0 0 24px;
     background-size: 22px;
     background-repeat: no-repeat;
  }
  #cuerpoImagen{
    flex: 40%;
  }
  #cuerpoDatos{
    flex: 60%;
  }
  #bordeImagen{
    background-color: #d46b68;
    padding: 25px;
    text-align: center;
    width: 70%;
    border-radius: 25px;

  }
  img{
    border-radius: 25px;
  }
  h1{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  #detalleDatos{
    width: 70%;
    padding: 20px;
  }
  #Botones{
    display: flex;
    margin-top: 20px;
  }
  #Botonesfavorito{
    flex: 50%;
  }
  #BotonesUbicacion{
    flex: 50%;
  }
  #marcoFavorito{
    background-color: #CCCCCC;
    width: 250px;
    background-image: url(../img/Recurso\ 13.png);
    background-repeat: no-repeat;
    background-size: 28px;
    padding: 20px 0px 20px 55px;
    background-position: left 30px center ;
    border-radius: 10px ;
  }
#marcoFavorito:hover{
  opacity: 78%;
  cursor: pointer;
}
